<%= render "shared/header"%>

<div class='main'>
  <%# 投稿一覧 %>
  <div class='post-contents'>
    <ul class='item-lists'>
      <% @posts.each do |post| %>
       <li class='list'>
          <%= link_to item_path(item.id), method: :get do  %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: 'item-img' if item.image.attached? %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= post.name %>
              </h3>
            </div>
          <% end %>
       </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer"%>